apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${IMAGE_NAME}
  namespace: ${NAMESPACE}
  labels:
    app: ${IMAGE_NAME}
spec:
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
  selector:
    matchLabels:
      app: ${IMAGE_NAME}
  template:
    metadata:
      labels:
        app: ${IMAGE_NAME}
    spec:
      securityContext:
        runAsUser: 1001
        runAsGroup: 1001
        runAsNonRoot: true
      serviceAccountName: concise-aks
      containers:
        - name: ${IMAGE_NAME}
          image: ${DOCKERHUB_REGISTRY}/${APP}/${IMAGE_NAME}
          env:
            - name: JDK_JAVA_OPTIONS
              value: ${JAVA_OPTS}
            - name: AKS_CONCISE_DB_HOST
              value: ${AKS_CONCISE_DB_HOST}
            - name: AKS_CONCISE_DB_NAME
              value: ${AKS_CONCISE_DB_NAME}
            - name: AKS_CONCISE_DB_USER
              value: ${AKS_CONCISE_DB_USER}
            - name: XROAD_SEC_SERVER_URL
              value: ${XROAD_SEC_SERVER_URL}
            - name: MTLS_CERT_PATH
              value: ${MTLS_CERT_PATH}
            - name: MTLS_CERT_PWD
              value: ${MTLS_CERT_PWD}
            - name: CONSUMER_MEMBER_CLASS
              value: ${CONSUMER_MEMBER_CLASS}
            - name: CONSUMER_MEMBER_CODE
              value: ${CONSUMER_MEMBER_CODE}
            - name: CONSUMER_SUBSYTEM
              value: ${CONSUMER_SUBSYTEM}
            - name: XROAD_INSTANCE
              value: ${XROAD_INSTANCE}
          imagePullPolicy: Always
          resources:
            requests:
              memory: ${MEMORY_REQUEST}
              cpu: ${CPU_REQUEST}
            limits:
              memory: ${MEMORY_LIMIT}
              cpu: ${CPU_LIMIT}
          ports:
            - containerPort: 8080
              name: http
